<html>
 <body>
  <div align="center">
   <img src="cid:java.png">              
  </div>
  <div align="center">
   <font face="Candara" size="6">     
    Estimado Cliente, le informamos que su cita
    <br>
    tiene estatus pendiente,  
    <br>
    por razones de seguridad haga click en el siguiente enlace por verificacion 
    <br>
    <a href="">link</a>
    <br>
    
   </font>
  </div>
  <div align="center">
   <font face="Candara" size="6">
    <a pref="url">www.dominio.blogspot.com</a>
    <br>
    <br>
    <img src="cid:sol.jpg">  +DatoJavaBlog
    <br>lorem21
    <br>
    <img src="cid:luna.jpg">
    <br>
    ....Gracias y Feliz Dia....
   </font>
  </div>      
 </body>
</html>